.login {
    padding: 7px 0px 0px 5px;
    margin-left: 20px;
    color: white;
    border: 1px solid transparent;
}

.login:hover {
    border: 1px solid white;
    cursor: pointer;
}

.login__nav01 {
    font-size: 12px;
    line-height: 13px;
    height: 14px;
    font-weight: 400;
}

.login__nav02 {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 14px;
    font-weight: 700;
}

.login__nav02 p {
    margin-bottom: 9px;
}

.login__nav02 img {
    margin-bottom: 7px;
}